# Define your OS target here
TARGET = x86_64-ethereal

# Compilers and whatnot
CC = $(TARGET)-gcc
LD = $(TARGET)-ld
AS = $(TARGET)-as
AR = $(TARGET)-ar
READELF = $(TARGET)-readelf
OBJCOPY = $(TARGET)-objcopy

# Default C flags
CFLAGS += -pipe -std=c99 -D_POSIX_C_SOURCE=200809L -Wall -Wno-unused-function -Wno-missing-braces -Wno-unused -Wno-overflow
CFLAGS += -Wno-unknown-pragmas -fno-builtin -frounding-math
CFLAGS += -Werror=implicit-function-declaration -Werror=implicit-int -Werror=pointer-sign -Werror=pointer-arith
CFLAGS += -g -Isrc/common
LDFLAGS += -g

# Default libs/libdirs
LIBS = -ltest
LIBDIRS = obj

# Define any OS-specific library flags here
LIBDIRS +=

# Define any OS-specific compile flags here
CFLAGS := $(CFLAGS) -Iinclude 
CPPFLAGS := $(CPPFLAGS) 
 LDFLAGS := $(LDFLAGS) -L$(LIBDIRS)
LIBS := $(LIBS)

